* {
    user-select: none;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

div#room_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

div#room {
    display: inline-block;
    position: relative;
}

div#room img#room_layout {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    content: url('../images/room.jpg');
    /* filter: brightness(50%); */
}

div.control {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 4.5%;
    height: 6.5%;
    background-color: black;
    border: 0.2em solid black;
    /* border: 0.2em solid #ff8800; */
    border-radius: 50%;
    /* transition: transform 0.3s ease, background-color 0.3s ease, border-color 0.3s ease; */
    /* box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); */
}

div.control.activated {
    background-color: #ff8800;
    border-color: #ff8800;
    /* border-color: black; */
}

div.control.cog {
    background-image: url('../images/cog.svg');
}

div.control.light {
    background-image: url('../images/devices/light.svg');
}

div.control.humidifier {
    background-image: url('../images/devices/humidifier.svg');
}

div.control.dehumidifier {
    background-image: url('../images/devices/dehumidifier.svg');
}


div.control.heater {
    background-image: url('../images/devices/heater.svg');
    background-size: 83%;
}

div.control.tv {
    background-image: url('../images/devices/tv.svg');
    background-size: 80%;
}

div.control.curtains {
    background-image: url('../images/devices/curtains.svg');
}

div.control.massage_seat {
    background-image: url('../images/devices/massage_seat.svg');
}

div.control.ac {
    background-image: url('../images/devices/ac.svg');
    background-size: 80%;
}

div.control.ac.activated {
    background-image: url('../images/devices/activated/ac.svg');
}

div.control.light.activated {
    background-image: url('../images/devices/activated/light.svg');
}

div.control.humidifier.activated {
    background-image: url('../images/devices/activated/humidifier.svg');
}

div.control.dehumidifier.activated {
    background-image: url('../images/devices/activated/dehumidifier.svg');
}

div.control.heater.activated {
    background-image: url('../images/devices/activated/heater.svg');
}

div.control.tv.activated {
    background-image: url('../images/devices/activated/tv.svg');
}

div.control.curtains.activated {
    background-image: url('../images/devices/activated/curtains.svg');
}

div.control.massage_seat.activated {
    background-image: url('../images/devices/activated/massage_seat.svg');
}

div.control:hover {
    /* transition: transform 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease; */
    transform: scale(1.2);

    /* box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3); */
    
    
    cursor:pointer;
}